.center-page {
    text-align: center;
    margin-top: 40vh;
}

.mid-page {
    text-align: center;
    margin-top: 30px;
}

.spacing {
    margin-top: 30px;
}

h1 {
    font-weight: bold;
}

h2 {
    margin: 40px 0;
    font-weight: bold;
}

body {
    font-family: 'Gaegu', cursive;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
