body {
    background: #005aa7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #005aa7, #fffde4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #005aa7, #fffde4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* Same font throughout whole thing */
    font-family: "Roboto";
}

.container {
    /* Fixed width for the container */
    width: 360px;
    margin: 100px auto;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

h1 {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 5px 18px;
    /* This means our content height is `height` - (2 * `padding`) */
    box-sizing: border-box;

    background: rgb(66, 93, 212);
    color: white;
    font-size: 25px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.fa-pencil-alt {
    float: right;
    margin-top: 6px;
}

input {
    width: 100%;
    height: 45px;
    padding-left: 20px;
    /* Set an invisible border with same color as background */
    border: 3px solid rgba(247, 247, 247, 0);
    outline: none;
    box-sizing: border-box;

    background: #f7f7f7;
    font-size: 20px;
    transition: all 0.1s;
}

input:hover {
    border: 3px solid rgb(66, 93, 212);
}

input:focus {
    border: 3px solid rgb(66, 93, 212);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    height: 35px;
    padding-left: 18px;

    /* First to-do should have white background */
    background: white;
    font-size: 15px;
    line-height: 35px;
}

li:nth-of-type(2n) {
    background: #f7f7f7;
}

.trash {
    width: 0px;
    height: 35px;
    float: right;

    background: red;
    text-align: center;
    opacity: 0;
    transition: all 0.3s linear;
}

/* When `li` is hovered, we display `.trash` */
li:hover .trash {
    width: 35px;
    opacity: 1.0;
}

.completed {
    text-decoration: line-through;
}
